extends components/layout

block content
  include components/bitcoin-modal
  include components/installer-modal
  .container
    .row
      .col.col-md-8
        p.device-header #{data.name} (#{data.device})
      .col.col-md-4.text-center

    p.
    .row
      .col.col-md-8
        .card
          .card-header About the #{data.name} with Ubuntu Touch
          .card-body!=data.about
        .card(style="margin-top: 20px")
          .card-header Install Ubuntu Touch on the #{data.name}
          .card-body
            #bootloaderDefinitelyLocked(hidden='hidden')
              .row.align-items-center
                .col.col
                  p #[b Note]: Unfortunately the #{data.name}'s Bootloader can not be unlocked if the device was sold with Android. That means, that Ubuntu Touch can #[b only] be installed on the #{data.name} Ubuntu Edition, #[b not on the Android version]!
                  p There is not a lot we can do about that, and luckily most devices do not have that restriction. If you are the proud owner of a #{data.name} Ubuntu Edition, you are not affected by this, and you can simply use the UBports Installer to switch to the UBports version of Ubuntu Touch.
            #bootloaderLocked(hidden='hidden')
              .row.align-items-center
                .col.col
                  p #[b Note]: Unfortunately the #{data.name}'s Bootloader is locked while the device is running Android. That means that you will have to #[a(href="https://docs.ubports.com/en/latest/userguide/install.html#install-on-legacy-android-devices") install the manufacturer's Ubuntu image] before you can switch to the latest Ubuntu Touch release using the UBports Installer.
                  p This is just a small annoyance, but it's #[a(href="https://docs.ubports.com/en/latest/userguide/install.html#install-on-legacy-android-devices") not difficult] and luckily most devices do not have that restriction. Also, if you are the proud owner of a #{data.name} Ubuntu Edition, you are not affected by this, and you can simply use the UBports Installer to switch to the UBports version of Ubuntu Touch.
            .row.align-items-center
              .col.col
                img.item-center.wide-img.rounded.shadow(src="/img/ubpi.jpg", 
                style="min-width: 200px")
              .col.col
                .text-center With the UBports Installer, you can get Ubuntu Touch on your #{data.name} without breaking a sweat. You can use any Linux, Windows, or macOS computer to run the installer. Simply plug in your device and follow the on-screen instructions, then sit back and let the computer do all the work for you.
                .text-center(style="margin-top: 15px")
                  a.button.btn.btn-primary.btn-xl(href="", data-toggle="modal" data-target="#installerModal") Install Ubuntu Touch
            .row.align-items-center
              .col.col
                div(style="margin-top: 20px;" class="aspect-ratio")
                  iframe(width="854" height="480" src="//www.youtube.com/embed/zuLFTGkuD68?autoplay=0" frameborder="0" allowfullscreen)
        .card(style="margin-top: 20px")
          .card-header Bugs and Source code
          .card-body
            .row
              .col.text-center
                p All the source code for this device can be found on GitHub
                a.button.btn.btn-primary(type="button", href="https://github.com/ubports?utf8=%E2%9C%93&q="+data.device+"&type=&language=") 
                  | See source code
                  span.fab.fa-github.fab-space
              .col.text-center
                p List all bug assined to this device on Github
                a.button.btn.btn-primary(type="button", href="https://github.com/ubports/ubuntu-touch/labels/device%3A%20"+data.device)
                  | See bugs
                  span.fab.fa-github.fab-space
              .col.text-center
                p Create a new bug report on Github
                a.button.btn.btn-primary(type="button", href="https://github.com/ubports/ubuntu-touch/issues/new") 
                  | Create bug report
                  span.fab.fa-github.fab-space
        .card(style="margin-top: 20px")
          .card-header Donate
          .card-body
            .row
              .col.col-lg-3.text-center
                span.fab.fa-paypal.fa-5x(style="margin-bottom: 13px")
                br
                a.btn.btn-default(href="https://www.paypal.me/ubports") PayPal
              .col.col-lg-3.text-center
                span.fab.fa-bitcoin.fa-5x(style="margin-bottom: 13px")
                br
                a.btn.btn-default(href="", data-toggle="modal" data-target="#bitcoinModal") Bitcoin
              .col.col-lg-3.text-center
                img(style="margin-bottom: 13px; width: 80px; height: 80px;", src="/img/lp-grey.png")
                br
                a.btn.btn-default(href="https://liberapay.com/UBports/") Liberapay
              .col.col-lg-3.text-center
                span.fab.fa-patreon.fa-5x(style="margin-bottom: 13px")
                br
                a.btn.btn-default(href="https://www.patreon.com/ubports") Patreon

      .col.col-md-4
        .text-center
          img.sidebar-img(src=data.image)
        #bootloaderLocked(hidden='hidden')
          .card(style="margin-bottom: 20px")
            .card-header Meet the #{data.name}
            .card-body
              div(style="margin-top: 0px;" class="aspect-ratio")
                iframe(width="854" height="480" src=data.video frameborder="0" allowfullscreen)
        //- TODO hook stats up
        //- .card(style="margin-bottom: 20px")
        //-   .card-header Release and Stats
        //-   .card-body
        //-     | Latest stable release: #{data.stable-release-date}
        //-     br
        //-     | Latest release candidate: #{data.rc-release-date}
        //-     br
        //-     | Latest development release: #{data.devel-release-date}
        //-     | There are roughly #{data.active-devices} #{data.name}s running Ubuntu Touch at the moment.
        .card(style="margin-bottom: 20px")
          .card-header Buy a #{data.name}
          .card-body
            | You might be able to find new second-hand devices on #[a(href="https://swappa.com/search?q="+data.name) swappa], #[a(href="https://www.ebay.com/sch/i.html?_from=R40&_trksid=p2380057.m570.l1313.TR12.TRC2.A0.H0.Xnexus+5.TRS0&_nkw="+data.name+"&_sacat=0") ebay], or #[a(href="https://duckduckgo.com/?q="+data.name+"&t=canonical&ia=products") other websites]. Shop at at your own risk!
        .card(style="margin-bottom: 20px")
          .card-header Make a move!
          .card-body
            div(style="margin-top: 0px;" class="aspect-ratio")
              iframe(width="854" height="480" src="https://www.youtube.com/embed/XppN4Hqm1dQ?autoplay=0" frameborder="0" allowfullscreen)
            br
            a.btn.btn-default(href="https://ubports.com/get-involved", target="_blank") Join the Community!
