extends components/layout

block content
  include components/bitcoin-modal
  include components/installer-modal
  .container
    .row
      .col.col-md-8
        p.device-header #{data.name} (#{data.device})
      .col.col-md-4.text-center

    p.
    .row
      .col.col-md-8
        .card
          .card-header.orange-background About the #{data.name} with Ubuntu Touch
          .card-body!=data.about
        .card(style="margin-top: 20px")
          include device/install
        .card(style="margin-top: 20px")
          .card-header.orange-background Donate
          .card-body
            .row
              .col.col-lg-3.text-center
                span.fab.fa-paypal.fa-5x(style="margin-bottom: 13px")
                br
                a.btn.btn-default(href="https://www.paypal.me/ubports") PayPal
              .col.col-lg-3.text-center
                span.fab.fa-bitcoin.fa-5x(style="margin-bottom: 13px")
                br
                a.btn.btn-default(href="", data-toggle="modal" data-target="#bitcoinModal") Bitcoin
              .col.col-lg-3.text-center
                img(style="margin-bottom: 13px; width: 80px; height: 80px;", src="/img/lp-grey.png")
                br
                a.btn.btn-default(href="https://liberapay.com/UBports/") Liberapay
              .col.col-lg-3.text-center
                span.fab.fa-patreon.fa-5x(style="margin-bottom: 13px")
                br
                a.btn.btn-default(href="https://www.patreon.com/ubports") Patreon

      .col.col-md-4
        .text-center
          img.sidebar-img(src=data.image)
        #bootloaderLocked(hidden='hidden')
          .card(style="margin-bottom: 20px")
            .card-header.orange-background Meet the #{data.name}
            .card-body
              div(style="margin-top: 0px;" class="aspect-ratio")
                iframe(width="854" height="480" src=data.video frameborder="0" allowfullscreen)
        //- TODO hook stats up
        //- .card(style="margin-bottom: 20px")
        //-   .card-header.orange-background Release and Stats
        //-   .card-body
        //-     | Latest stable release: #{data.stable-release-date}
        //-     br
        //-     | Latest release candidate: #{data.rc-release-date}
        //-     br
        //-     | Latest development release: #{data.devel-release-date}
        //-     | There are roughly #{data.active-devices} #{data.name}s running Ubuntu Touch at the moment.
        .card(style="margin-bottom: 20px")
          include device/git
        .card(style="margin-bottom: 20px")
          .card-header.orange-background Buy a #{data.name}
          .card-body
            | You might be able to find new second-hand devices on #[a(href="https://swappa.com/search?q="+data.name) swappa], #[a(href="https://www.ebay.com/sch/i.html?_from=R40&_trksid=p2380057.m570.l1313.TR12.TRC2.A0.H0.Xnexus+5.TRS0&_nkw="+data.name+"&_sacat=0") ebay], or #[a(href="https://duckduckgo.com/?q="+data.name+"&t=canonical&ia=products") other websites]. Shop at at your own risk!
        .card(style="margin-bottom: 20px")
          .card-header.orange-background Make a move!
          .card-body
            div(style="margin-top: 0px;" class="aspect-ratio")
              iframe(width="854" height="480" src="https://www.youtube.com/embed/XppN4Hqm1dQ?autoplay=0" frameborder="0" allowfullscreen)
            br
            a.btn.btn-default(href="https://ubports.com/get-involved", target="_blank") Join the Community!
