extends components/layout

block content
  include components/bitcoin-modal
  include components/installer-modal
  .container
    .row
      .col.col-md-12
        p.device-header #{data.name} (#{data.device})
    .row
      .col.col-md-8
        .card
          .card-header.orange-background About the #{data.name} with Ubuntu Touch
          .card-body!=data.about
        .card(style="margin-top: 20px")
          include device/install
        .card(style="margin-top: 20px")
          .card-header.orange-background Donate
          .card-body
            include components/donation-options

      .col.col-md-4
        .text-center
          img.sidebar-img(src=data.image)
        #video(hidden='hidden')
          .card(style="margin-bottom: 20px")
            include device/video
        .card(style="margin-bottom: 20px")
          include device/stats
        .card(style="margin-bottom: 20px")
          include device/git
        .card(style="margin-bottom: 20px")
          include device/buy
        .card(style="margin-bottom: 20px")
          include device/join
