.card-header.orange-background Release and Stats
.card-body
  | Latest stable release: #{data.stable-release-date}
  br
  | Latest release candidate: #{data.rc-release-date}
  br
  | Latest dev release: #{data.devel-release-date}
  br
  | There are roughly #{data.active-devices} #{data.name}s running Ubuntu Touch at the moment.
